
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1800px) and (min-width: 1351px) {
  .ficon {
  width: 164px !important;
  margin-top: -12px !important;
  margin-left: 12px !important;
  margin-right: -39px !important;
}

#price {
    width: 263px !important;
    font-size: 60px !important;
    text-align: center !important;
    margin-top: 17px !important;
    margin-bottom: 0px !important;
    margin-left: 21px !important;
  }

#ic {
  width:40px !important;
    margin-top: 40px !important;
}

.icons {
  width: 164px !important;
  margin-top: -5px !important;
  margin-left: -18px !important;
}

#icontract {
    width: 40px !important; 
    margin-top: 35px !important;

}

#ifurnish {
   width: 40px !important;
   margin-top: 35px !important;

}

.date {
  margin-top: -5px !important;
  margin-left: -75px !important; 
  width: 386px !important;
}

#available {
  font-size: 40px !important;
}

.descrip {
  margin-left: 70px;
}

}


@media screen and (max-width: 1352px) and (min-width: 990px) {
  .ficon {
  width: 164px !important;
  margin-top: 3px !important;
  margin-left: 48px !important;
  margin-right: -39px !important;
}

#price {
    width: 263px !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 17px !important;
    margin-bottom: 0px !important;
    margin-left: 6px !important;
  }

#ic {
  width:30px !important;
    margin-top: 40px !important;
}

.icons {
  width: 164px !important;
  margin-top: 11px !important;
  margin-left: -18px !important;
}

#icontract {
    width: 30px !important; 
    margin-top: 33px !important;

}

#ifurnish {
   width: 30px !important;
   margin-top: 33px !important;

}

#igender {
  margin-left:-45px !important;
}

.date {
  margin-top: -5px !important;
  margin-left: -75px !important; 
  width: 386px !important;
}

#available {
  font-size: 25px !important;
  margin-left: 121px !important;
  margin-top: -30px !important;
  float:left !important;
}

.descrip {
  margin-left: 154px !important;
  padding: 8px !important;
  width: 62% !important;
}

#descrip {
  margin-right:45px !important;
  margin-top: 22px !important;
  font-size: 14px !important;
}

.pic {
    background-size: 494px !important;
    background-repeat: no-repeat;
    width: 500px !important;
    height: 335px !important;
    border: 3px solid;
    box-shadow: 3px 3px 5px;
    margin: -8px;
}

#address {
  font-size: 47px !important;
}

#nam {
  margin-bottom: -8px;
  margin-left: 129px !important;
  margin-top: 74px !important;
  font-size: 26px !important;
}

.boxes {
  margin-left: 130px !important;
}

}



@media screen and (max-width: 989px) and (min-width: 500px) {
  .ficon {
  width: 210px !important;
  margin-top: 3px !important;
  margin-left: 135px !important;
  margin-right: -83px !important;
}

#price {
    width: 263px !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 17px !important;
    margin-bottom: 0px !important;
    margin-left: 6px !important;
  }

#ic {
  width:30px !important;
    margin-top: 40px !important;
}

#icontract {
    width: 30px !important; 
    margin-top: 33px !important;

}

#room {
  font-size:11px !important;
    margin-top: 10px !important;
}

.icons {
  width: 126px !important;
  margin-top: 10px !important;
  margin-left: 8px !important;
}

#furn {
  margin-left: -25px !important;
}

#mates { 
  margin-left: -30px !important;
}

#rules { 
  margin-left: -30px !important;
}

#igender { 
  margin-left: -48px !important;
}

#contract {
  font-size: 11px !important;
  margin-top: 0px !important;
}

#furnish {
  font-size: 11px !important;
  margin-top: 0px !important;
}

#ifurnish {
   width: 30px !important;
   margin-top: 33px !important;

}



.date {
  margin-top: -5px !important;
  margin-left: -75px !important; 
  width: 386px !important;
}

#available {
  font-size: 25px !important;
  margin-left: 121px !important;
  margin-top: -30px !important;
  float:left !important;
}

.descrip {
  margin-left: 154px !important;
  padding: 8px !important;
  width: 62% !important;
}

#descrip {
  margin-right:45px !important;
  margin-top: 22px !important;
  font-size: 14px !important;
}

.pic {
    background-size: 494px !important;
    background-repeat: no-repeat;
    width: 500px !important;
    height: 335px !important;
    border: 3px solid;
    box-shadow: 3px 3px 5px;
    margin: -8px;
}

#address {
  font-size: 40px !important;
    margin-left: 77px !important;
    margin-top: 69px !important;
}

#dist {
  font-size: 17px !important;
  margin-top: 100px !important;
}

#nam {
  margin-bottom: -8px;
  margin-left: 129px !important;
  margin-top: 74px !important;
  font-size: 26px !important;
}

.boxes {
  margin-left: 130px !important;
}

}




.pic {
    background-size: 544px !important;
    background-repeat: no-repeat;
    width: 546px;
    height: 408px;
    border: 3px solid;
    box-shadow: 3px 3px 5px;
    margin: -8px;
}

.date {
  margin-left: 40px; 
  width: 400px;
}

#uvu {
  margin-top: -6px;
  width:50px;
}
#dist {
  width:444px;
  font-size: 20px;
  text-transform: inherit;
  margin-top: 96px;
    margin-bottom: -41px;
    margin-left: 0px;
}

.boxes {
  margin-left: 200px;
    border: 1px solid;
    width: 400px;
    height: 165px;
    padding: 21px;
    background: white;
    box-shadow: inset 1px 1px;
}
#phone {
  margin-left: -229px;
    font-size: 18px;
    font-weight: 500;
    margin-top: -43px;
    margin-bottom: 4px;
}
#email {
margin-left: -192px;
    font-size: 16px;
    font-weight: 500;
    margin-top: -39px;
    margin-bottom: 4px;
    text-transform: lowercase;
}
#mensage {
  margin-left: -163px;
    font-size: 16px;
    margin-top: -39px;
    font-weight: 500;
    text-transform: inherit;
}
#cont {
      width: 35px;
    margin-left: -70px;
    margin-top: -4px;
    margin-bottom: 9px;
}
#contact {
  margin-left: 141px;
    margin-top: -15px;
}
.other {
  margin-left: 20px;
}
.word {
  font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 39px;
    margin-bottom: 7px;
}
.amenities {
    width: 28px;
}

#amen {
  width: 217px;
    border: solid 1px;
    border-radius: 5px;
    padding: 17px;
    margin-top: 60px;
    margin-left: 12px;
    background: #F4F4F4;
    font-size: 16px;
    text-transform: none;
    text-align: justify;
}

.ficon {
  width: 164px;
  margin-top: -12px;
  margin-left: 96px;
  margin-right: -39px;
}
.icons {
  width: 164px;
  margin-top: -5px;
  margin-left: 15px;
}

#nam {
margin-left: 200px;
    margin-top: 25px;
    font-size: 30px;
  }
.hr {
    margin-right: -200px;
    margin-left: -200px;
    margin-top: 11px;
    border: 0;
    border-top: 2px solid rgba(9, 9, 9, 0.36);
}
.hrs {
  margin-right: -53%;
    margin-left: -12px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgba(9, 9, 9, 0.36);
}
#ic {
    margin-top: 40px;
}
#icontract {
    width: 52px;
    margin-top: 33px;

}
#contract {
  text-align: center;
  font-size: 13px;
    font-weight: 500;
}
#ifurnish {
   width: 55px;
   margin-top: 30px;

}
#furnish {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
#available {
    float: right;
    font-size: 50px;
    margin-top: 38px;
}
.adeets {
  margin-top: -120px;
  text-align: left;
  font-size: 20px;
}

.deets {
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

#price {
    width: 300px;
    font-size: 75px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 0px;
    margin-left: 50px;
  }
#address {
    text-align: left;
    margin-left: 56px;
    margin-top: 55px;
    font-size: 60px;

}
#room {
    margin-top: 21px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
#bullet {
  font-size: 20px;
}
#descrip {
        margin-right: 50px;
    margin-top: 60px;
    margin-left: 34px;
    background: #F4F4F4;
    font-size: 16px;
    text-transform: none;
    text-align: justify;
}
.row {
  margin-right:-22px;
}

.create {
  float:right;
  margin-right: 58px;
}

#filters {
  width:199px;
}

.col-xs-2 {
  width: 15.666667%;
}
.sidebars {
  margin-top: 60px;
  margin-left: 250px;
  width: 100%;
  height: 100%;
  position: fixed;
}

#map {
    margin-right: 25%;
    /*margin-left: 14%;*/
    margin-top: 38px;
    height: 75%;
  
}

.controls {
 margin-top: 10px;
 border: 1px solid transparent;
 border-radius: 2px 0 0 2px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 height: 32px;
 outline: none;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
 background-color: #fff;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
 margin-left: 12px;
 padding: 0 11px 0 13px;
 text-overflow: ellipsis;
 width: 300px;
}

#pac-input:focus {
 border-color: #4d90fe ;
}

.pac-container {
 font-family: Roboto;
}

#type-selector {
 color: #fff;
 background-color: #4d90fe ;
 padding: 5px 11px 0px 11px;
}

#type-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
}

 #target {
  width: 345px;
}

.top {
    z-index: 10;
    position: fixed;
    background-color: red;
    height: 125px;
    width: 100%;
    /*margin-top: -98px;*/
}

.sidebar {
    margin-top: 0%;
   
  /*  border-right: #d1d0d0 1px solid;*/
    width: 200px;
    height: 900px;
    float: left;
}
#search {
    text-align: left;
    margin-left: 23px;
    margin-top: 6%;
    margin-bottom: -27px;
}
ul {
  margin-top: 54px;
}

#title {
  text-decoration: none;
  font-size: 43px;
  color: white;
  padding: 14px;
  font-family: 'Oswald',Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-top: 0px;
}

.first {
    margin: 14%;
    z-index: 1;
    position: relative;
    margin-bottom: -5.1%;
    height: 40px;
    width: 66.99%;
    /* margin-right: 19%; */
    margin-left: 14.02%;
    margin-top: 2%;
}

.map {
    position: absolute;
    height: 38px;
    background: #E9E9E9;
    border: rgba(0, 0, 0, 0.48) 1px solid;
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    border-radius: 7px 7px 2px 2px;
}

.list {
      position: absolute;
    height: 38px;
    background: #E9E9E9;
    right: 0;
    border: rgba(0, 0, 0, 0.48) 1px solid;
    border-bottom: rgba(255, 255, 255, 0) 1px solid;
    border-radius: 7px 7px 2px 2px;
}
p {
  font-family: 'Oswald',Sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 0px;
    margin: 0 0 10px;
    color: #343131;
    font-size: 29px;
    text-align: center;
}
#listview {
    width: 100%;
    height: 90%;
    margin-top: 38px;
/*    margin-left: 14%;
    
    margin-bottom: -10%;
    position: absolute;*/
    /*z-index: -1;*/
  }

.doo {
  margin-left: 0px;
  margin-right: 0px;

}
.do {
  height: 600px;
  border:1px solid;
}
.house {
    height: 7%;
    margin-top: 1%;

}
.apt {
      height: 7%;
    margin-top: 1%;
}
.icontitle {
  margin-top: -7%;
}

.complex {
  padding-left: 5%;
  font-size: 2em;

}

.listing {
/*
  padding-left: 8%;
  font-size: 1.2em;
*/
  /*for the jquery*/
  display: none; 

}

.address {
  padding-left: 8%;
  font-size: .7em;
}

.houseListing {
  padding-left: 8%;
  font-size: 1.2em;

}

.listTitle {
  font-family: 'Oswald',Sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #343131;
  font-size: 2em;
  text-align: center;
  margin-top:10px;
}

.border {
  overflow: auto;
  border: 1px solid;
  height:650px;
}

.bottomBorder {
  border-bottom: 2px solid;
  border-color: red;
}

.spacer  {
    width: 100%;
    height: 130px;
}

.hidden {
  display:none;
}













