{% extends 'base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Testing two HTML</title>

	<link rel="stylesheet" type="text/css" href=" {% static 'css/detail_view.css' %} " ></head>

<body>
	{% block mainblock %}
	<div class="container-flow">

		<div>
			<!-- <h3>Listing for: {{ listing.complex_name.name }}</h3>
		-->
		<div class="row">

			<div class="col-xs-12 col-sm-3 pic" style="background:url('/{{ listing.upload_image }}');">

					
			</div>


			<div class="col-xs-12 col-sm-4">

				<p id="address">
					{{ listing.address }}<br>{{ listing.city }}, {{ listing.state }}
				</p>
				
				<p id="dist">Distance to Campus(in miles): <img src="{% static "byus.png" %}" alt="" id="uvu">{{ listing.distance_from_BYU }} <img src="{% static "uvu.png" %}" alt="" id="uvu">{{ listing.distance_from_UVU}}</p>
			</div>
		



					

		</div>

			<hr class="hr">
		
		<div class="row" style="margin-top: -20px; margin-bottom: -15px; background: #F4F4F4;margin-right:-50px;">
			 	
				<div class="col-xs-12 col-sm-2">
					<p class="deets" id="price">${{ listing.selling_price }}</p>
				</div>

				<div class="col-xs-4 col-sm-1 ficon">
					<p><img src="{% static "icons/house.png" %}" alt="" id="ic"></p>
					<p class="deets" id="room">{{ listing.room_type }}</p>
				</div>

				<div class="col-xs-4 col-sm-1 icons">
					<p><img src="{% static "icons/paper.png" %}" alt="" id="icontract"></p>
					<p class="deets" id="contract">{{ listing.contract_length }}</p>
				</div>

				<div class="col-xs-4 col-sm-1 icons" id="furn">
					<p><img src="{% static "icons/bed.png" %}" alt="" id="ifurnish"></p>
					<p class="deets" id="furnish">{{ listing.furnishings_type }}</p>
				</div>

				<div class="col-xs-4 col-sm-1 icons" id='mates'>
					<p><img src="{% static "icons/roommate.png" %}" alt="" id="ifurnish"></p>
					<p class="deets" id="furnish">{{ listing.roommates}} roommates</p>
				</div>

				<div class="col-xs-4 col-sm-1 icons" id="rules">
					<p><img src="{% static "icons/byu.png" %}" alt="" id="ifurnish"></p>
					<p class="deets" id="furnish">{% if listing.BYU_housing %}BYU Housing {% else %}Non BYU Housing {% endif %}</p>
				</div>

				<div class="col-xs-4 col-sm-1 icons" id="igender">
					<p><img src="{% static "icons/gender.png" %}" alt="" id="ifurnish"></p>
					<p class="deets" id="furnish">{% if listing.gender_choices == 'M' %}Male {% elif listing.gender_choices == 'F' %}Female {% endif %}</p>
				</div>

				<div class="col-xs-12 col-sm-2 date" >
					<p class="deets" id="available">{{ listing.availability_date }}</p>
				</div>

		</div>
				
				<hr class="hrs">
				
		<div class="row">
			
			<div class="col-xs-12 col-sm-2" style="margin-right: -40px;margin-left:50px; margin-top: -59px;">
				
				<div class="deets" id="amen">
					Amenities:  </br>
				        			</br>
				        			<img src="{% static "icons/Kitchen.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/internet.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/tv.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/cable.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/heat.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/AC.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/washer.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/dryer.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/parking.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/wifi.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/dog.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/smoking.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/pool.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/hottub.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/gym.png" %}" alt="" class="amenities"></br></br>
									<img src="{% static "icons/fireplace.png" %}" alt="" class="amenities">

				<div style="margin-top: -784px; width: 191px;" >
						<p>
				            {% if listing.amenity.all %}
							{% for amenity in listing.amenity.all %}
							<p class="word">{{ amenity.amenity }}</p>
							</br>
							{% endfor %}
							{% else %}
		   					no amenities
							{% endif %}
						</p>
				</div>


				</div>
				
				
			</div>


			<div class="col-xs-12 col-sm-10 descrip" style="border: 1px solid;border-radius: 10px;background: #F4F4F4;width:1086px;">
				<p class="deets" id="descrip"> <u>About this Listing</u>
					</br>
					</br>{{ listing.description }}</p>
				

			</div>
			
			<div class="col-xs-12 col-sm-10 descrip" style="margin-top: 9px;
													border-radius: 10px;
													background: #F4F4F4;
													width: 1086px;
													border: 1px solid;
													height: 319px;">

				<img src="{% static "profile.png" %}" alt="" style="border: 1px solid;
																    border-radius: 101px;
																    margin-top: 20px;
																    width: 12%;
																    margin-left: 44px;
																    background: gainsboro;">
				
				<div class="col-xs-12" style="margin-top:-130px;">
					<p class="deets" id="nam">
						{{ listing.name }}
					</p>
					<br>
					<br>

					<div class="boxes">
						<img src="{% static "icons/phone.png" %}" alt="" id="cont"><p id="phone">801-555-1234</p> </br>
						<img src="{% static "icons/email.png" %}" alt="" id="cont"><p id="email">myemail@email.com</p></br>
						<img src="{% static "icons/write.png" %}" alt="" id="cont"><p id="mensage">Send Marcus a message</p>	
					</div>

					
				</div>
				


			</div>


		</div>
				
				


			</div>
		</div>

		<br/>
		<br/>

	</div>

</div>
{% endblock mainblock %}
</body>

</html>
